<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <form action="" method="post">
	    <h1>username</h1>
            <p><input type=text name=username>
	    <h1>password</h1>
            <p><input type=text name=password>
	    <h1>confirm password</h1>
            <p><input type=text name=cpassword>
	    <h1>status</h1>
            <p><input type=text name=status>
	    <h1>email adress</h1>
            <p><input type=text name=email>
	    <h1>confirm email</h1>
            <p><input type=text name=cemail>
	    <h1>invitation code</h1>
            <p><input type=text name=invicode>


            <p><input type=submit value=upload>
    </form>


    {% block body %}
        <h1>please ensure that your username contains only english letters </h1>
    {% endblock %}
    </body>
</html>